/.dep.inc
/Makefile
/nbproject/
/core
/Assignment2-Git.vcxproj.filters
/Assignment2-Git.vcxproj
/Assignment2-Git.sln
/.vs/Assignment2-Git/v15/Browse.VC.opendb
/.vs/Assignment2-Git/v15/Browse.VC.db
/.vs/Assignment2-Git/v15/.suo
/.vs/Assignment2-Git/v15/.suo
/.vs/Assignment2-Git/v15/Browse.VC.db
/Assignment2-Git.vcxproj.filters
/Assignment2-Git.vcxproj
/Assignment2-Git.sln
/.vs/Assignment2-Git/v15
*.exe
Debug/Assignment2-Git.log
*.ilk
Debug/Assignment2-Git.tlog/CL.command.1.tlog
*.tlog
Debug/CommonSword.obj
*.obj
Debug/vc141.pdb
*.pdb
Debug/vc141.idb
